*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #ebf2f5;
    width: 100vw;

    color: #fff;
}

body, textarea, input, button{
    font: 400 1.8rem 'Nunito', sans-serif;
}